<%= form_for(label_type) do |f| %>
  <% if label_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(label_type.errors.count, "error") %> prohibited this label_type from being saved:</h2>

      <ul>
      <% label_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :label_id %>
    <%= f.text_field :label_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
